<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>
    <div class="header-height"></div>
    <%- include('../includes/cart.ejs') %>
    <%- include('../includes/search.ejs') %>

    
    <div class="breadcrumb-area mt-37 hm-4-padding">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center border-top-2">
                <h2>login register</h2>
                <ul>
                    <li>
                        <a href="#">home</a>
                    </li>
                    <li>login register</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-register-area ptb-130 hm-3-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="login-form-container">
                        <form action="/admin/edit-product/<%=product._id %>" method="POST">
                            <div class="form-group">
                                <label for="title">제품명</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="" value="<%= product.title %>">
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">이미지</label>
                                <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="" value="<%= product.imageUrl %>">
                            </div>
                            <div class="form-group">
                                <label for="price">가격</label>
                                <input type="number" class="form-control" id="price" name="price" placeholder="" value="<%= product.price %>">
                            </div>
                            <div class="form-group">
                                <label for="description">설명</label>
                                <textarea class="form-control" id="description" name="description" rows="6"><%= product.description %></textarea>
                            </div>
                            
                            <div class="button-box">
                                <button type="submit" class="btn-style cr-btn"><span>Update Product</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
   
    <%- include('../includes/footer.ejs') %>
    </div>

    <%- include('../includes/jsfiles.ejs') %>
</body>
</html>
