<footer class="gray-bg footer-padding">
    <div class="container-fluid">
        <div class="footer-top pt-85 pb-25">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Get in Touch</h3>
                        </div>
                        <div class="food-info-wrapper">
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-home-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p>2020 Willshire Glen, Out of <br>Alpharetta, GA-30009</p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-telephone-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p>(+00) 121 025 0214 </p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-email-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p><a href="#">info@example.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Information</h3>
                        </div>
                        <div class="food-widget-content">
                            <ul class="quick-link">
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="#">Secure Payment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>accounts</h3>
                        </div>
                        <div class="food-widget-content">
                            <ul class="quick-link">
                                <li><a href="login-register.html">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="wishlist.html">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>support</h3>
                        </div>
                        <div class="food-widget-content">
                            <ul class="quick-link">
                                <li><a href="contact.html">Hello & Contact</a></li>
                                <li><a href="#">Shipping & Tax</a></li>
                                <li><a href="#">Return Policy</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Legal Notice</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>twitter feed</h3>
                        </div>
                        <div class="twitter-info-wrapper">
                            <div class="single-twitter">
                                <div class="twitter-icon">
                                    <i class="ion-social-twitter-outline"></i>
                                </div>
                                <div class="twitter-content">
                                    <p>A modern <a href="#">#Shopify theme </a> <a class="link1" href="#">@devitems</a> <a class="link2" href="#">https://twitter.com/devitemsllc</a></p>
                                </div>
                            </div>
                            <div class="single-twitter">
                                <div class="twitter-icon">
                                    <i class="ion-social-twitter-outline"></i>
                                </div>
                                <div class="twitter-content">
                                    <p>A modern <a href="#">#Shopify theme </a> <a class="link1" href="#">@devitems</a> <a class="link2" href="#">https://twitter.com/devitemsllc</a></p>
                                </div>
                            </div>
                            <div class="single-twitter">
                                <div class="twitter-icon">
                                    <i class="ion-social-twitter-outline"></i>
                                </div>
                                <div class="twitter-content">
                                    <p>A modern <a href="#">#Shopify theme </a> <a class="link1" href="#">@devitems</a> <a class="link2" href="#">https://twitter.com/devitemsllc</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-top-1 ptb-15">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="copyright-payment">
                        <div class="copyright">
                            <p>Copyright ©  2018 <a href="https://hastech.company/"> HasTech</a> All RIght Reserved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="footer-payment-method">
                        <a href="#"><img alt="" src="assets/img/icon-img/7.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>