<div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="single-slider slider-1 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slider-content slider-animated-1">
                                <h2 class="animated">Sale off <span>30%</span> for all </h2>
                                <p class="animated">Lorem ipsum dolor sit amet consectetur adipisici elit, sed do eius tempor incididunt ut labore et dolore magna.</p>
                                <a class="slider-btn animated" href="shop.html">shop now</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slider-single-img slider-animated-1">
                                <img class="animated" src="/img/slider/1.png" alt="slider images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-1 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slider-content slider-animated-2">
                                <h2 class="animated">Sale off <span>30%</span> for all </h2>
                                <p class="animated">Lorem ipsum dolor sit amet consectetur adipisici elit, sed do eius tempor incididunt ut labore et dolore magna.</p>
                                <a class="slider-btn animated" href="shop.html">shop now</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slider-single-img slider-animated-2">
                                <img class="animated" src="/img/slider/4.png" alt="slider images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>