<%- include('includes/head.ejs') %>
</head>
<body>
    <div class="wrapper">
    <%- include('includes/header.ejs') %>

    <%- include('includes/cart.ejs') %>
    <%- include('includes/search.ejs') %>



    <h1>Page Not Found!</h1>
    <%- include('includes/footer.ejs') %>
    </div>

    <%- include('includes/jsfiles.ejs') %>
</body>
</html>
