.header-height {
    min-height: 150px;
}


/* Admin */
/* Product */
.product-action-onimage {
    right: 0;
    position: absolute;
    top: 0;
    padding: 20px;
}
.product-action-onimage a{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
}