<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/jquery-ui.css">

</head>
<body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>
    <div class="header-height"></div>
    
    <%- include('../includes/cart.ejs') %>
    <%- include('../includes/search.ejs') %>

    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <form action="/cart" method="post">
            <button class="btn" type="submit">Add to Cart</button>
            <input type="hidden" name="productId" value="<%= product.id%>">
        </form>

        <form action="/admin/delete-product/<%= product.id %>" method="post">
            <button class="btn" type="submit">Delete</button>
        </form>
    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/product-modal.ejs') %>
    </div>

    <%- include('../includes/jsfiles.ejs') %>
</body>
</html>
