<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/jquery-ui.css">

</head>
<body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>
    <div class="header-height"></div>
    
    <%- include('../includes/cart.ejs') %>
    <%- include('../includes/search.ejs') %>

    <div class="breadcrumb-area mt-37 hm-4-padding">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center border-top-2">
                <h2>Shop Grid Box</h2>
                <ul>
                    <li>
                        <a href="#">home</a>
                    </li>
                    <li>Shop Grid Box</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner-area hm-4-padding">
        <div class="container-fluid">
            <div class="banner-img">
                <a href="#"><img src="assets/img/banner/16.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="shop-wrapper pt-120 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="shop-topbar-wrapper">
                        <div class="grid-list-options">
                            <ul class="view-mode">
                                <li class="active"><a href="#product-grid" data-view="product-grid"><i class="ion-grid"></i></a></li>
                                <li><a href="#product-list" data-view="product-list"><i class="ion-navicon"></i></a></li>
                            </ul>
                        </div>
                        <div class="shop-filter">
                            <button class="product-filter-toggle">filter</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-filter-wrapper">
                        <div class="row">
                            <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                                <h5>Sort by</h5>
                                <ul class="sort-by">
                                    <li><a href="#">Default</a></li>
                                    <li><a href="#">Popularity</a></li>
                                    <li><a href="#">Average rating</a></li>
                                    <li><a href="#">Newness</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                </ul>
                            </div>
                            <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                                <h5>color filters</h5>
                                <ul class="color-filter">
                                    <li><a href="#"><i style="background-color: #000000;"></i>Black</a></li>
                                    <li><a href="#"><i style="background-color: #663300;"></i>Brown</a></li>
                                    <li><a href="#"><i style="background-color: #FF6801;"></i>Orange</a></li>
                                    <li><a href="#"><i style="background-color: #ff0000;"></i>red</a></li>
                                    <li><a href="#"><i style="background-color: #FFEE00;"></i>Yellow</a></li>
                                </ul>
                            </div>
                            <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                                <h5>product tags</h5>
                                <div class="product-tags">
                                    <a href="#">New ,</a>
                                    <a href="#">brand ,</a>
                                    <a href="#">black ,</a>
                                    <a href="#">white ,</a>
                                    <a href="#">chire ,</a>
                                    <a href="#">table ,</a>
                                    <a href="#">Lorem ,</a>
                                    <a href="#">ipsum ,</a>
                                    <a href="#">dolor ,</a>
                                    <a href="#">sit ,</a>
                                    <a href="#">amet ,</a>
                                </div>
                            </div>
                            <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                                <h5>Filter by price</h5>
                                <div id="price-range"></div>
                                <div class="price-values">
                                    <span>Price:</span>
                                    <input type="text" class="price-amount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-list-product-wrapper">
                <div class="product-grid product-view">
                    <div class="row">
                        <% if (prods.length > 0) { %>
                            <% prods.forEach(function(product) { %>
                                <div class="product-width col-md-6 col-lg-4">
                                    <div class="product-wrapper mb-35">
                                        <div class="product-img">
                                            <a href="/product/<%=product._id%>">
                                                <img src="<%=product.imageUrl %>" alt="">
                                            </a>
                                            <div class="price-decrease">
                                                <span>30% off</span>
                                            </div>
                                            <div class="product-action-3">
                                                <a class="action-plus-2" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                    <i class="ti-plus"></i> Quict View
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-wishlist">
                                                <div class="product-title-3">
                                                    <h4><a href="/product/<%=product._id%>"><%=product.title %></a></h4>
                                                </div>
                                                <div class="product-wishlist-3">
                                                    <a href="#"><i class="ti-heart"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-peice-addtocart">
                                                <div class="product-peice-3">
                                                    <span class="old">$200.00 </span>
                                                    <span>$<%=product.price %></span>
                                                </div>
                                                <div class="product-addtocart">
                                                    <a href="/cart/<%=product._id%>"> <i class="ti-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-list-details">
                                            <h2><a href="product-details.html">Awesome Cloth Jewelry</a></h2>
                                            <div class="product-rating">
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                            </div>
                                            <div class="product-price">
                                                <span class="old">$22.00 </span>
                                                <span>$19.00</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
                                            <div class="shop-list-cart">
                                                <a href="cart.html"><i class="ti-shopping-cart"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        
                        <% } else { %>
                        <div class="product-width col-md-12 col-lg-12">
                            <h3>상품 정보가 없습니다</h3>
                        </div>
                        <% } %>
                        
                    </div>
                    <div class="pagination-style text-center mt-30">
                        <ul>
                            <li>
                                <a class="active" href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ion-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-logo-area hm-4-padding">
        <div class="container-fluid">
            <div class="brand-logo-active owl-carousel gray-bg ptb-130">
                <div class="single-logo">
                    <img alt="" src="assets/img/brand-logo/1.png">
                </div>
                <div class="single-logo">
                    <img alt="" src="assets/img/brand-logo/2.png">
                </div>
                <div class="single-logo">
                    <img alt="" src="assets/img/brand-logo/3.png">
                </div>
                <div class="single-logo">
                    <img alt="" src="assets/img/brand-logo/4.png">
                </div>
                <div class="single-logo">
                    <img alt="" src="assets/img/brand-logo/5.png">
                </div>
                <div class="single-logo">
                    <img alt="" src="assets/img/brand-logo/3.png">
                </div>
            </div>
        </div>
    </div>


    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/product-modal.ejs') %>
    </div>

    <%- include('../includes/jsfiles.ejs') %>
</body>
</html>
